{% extends 'admin/master.html' %}
{% block body %}
    {{ super() }}
    <div class="row-fluid">
        <div>
            {% if current_user.is_authenticated %}
                <h1>欢迎来到后台管理系统！</h1>
            {% else %}
                <form method="POST" action="">
                    {{ form.hidden_tag() if form.hidden_tag }}
                    {% for f in form if f.type != 'CSRFTokenField' %}
                        <div>
                            {{ f.label }}
                            {{ f }}
                            {% if f.errors %}
                                <ul>
                                    {% for e in f.errors %}
                                        <li>{{ e }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="btn" type="submit">登陆</button>
                </form>
                {{ link | safe }}
            {% endif %}
        </div>

    </div>
{% endblock body %}